# Rewrite rules for api.phpmyfaq.de
Options +FollowSymlinks -MultiViews -Indexes
RewriteEngine On
RewriteBase /

RewriteRule versions        /version.php [L,QSA]
RewriteRule verify/(.+)$    /verify.php?version=$1 [L,QSA]