<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/12.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         colors="true"
         cacheResult="false"
         executionOrder="depends,defects"
         failOnWarning="false"
         failOnRisky="false"
         failOnEmptyTestSuite="true"
         beStrictAboutOutputDuringTests="false"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="APP_ENV" value="test"/>
        <env name="APP_DEBUG" value="1"/>
        <env name="KERNEL_CLASS" value="App\Kernel"/>
    </php>
</phpunit>
